<style>

* {
	padding: 0;
	margin: 0
}

html {
	background-color: #000
}

fieldset, img {
	border: 0
}

body {
	margin-top: 40px;
	background-color: #000;
	color: #fff;
	font-family: Open Sans, Verdana, arial, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	background-image: url(/static/images/skyline-bg.png);
	background-repeat: no-repeat;
	background-position: top
}

:focus, input:focus, textarea:focus {
	outline: none
}

a {
	color: #c0b184;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

h1, h2, h3, h4 {
	margin-top: 10px;
	color: #c0b184
}

h1 {
	font-size: 22px;
	margin-top: 5px
}

h1, h2 {
	margin-bottom: 5px
}

h2 {
	font-size: 18px;
	margin-top: 10px
}

h3 {
	font-size: 15px;
	margin-top: 5px
}

h3, h4 {
	margin-bottom: 3px
}

h4 {
	font-size: 13px
}

h5 {
	font-size: 11px;
	margin-bottom: 3px
}

h2.section {
	background-color: #2b2b2b;
	padding: 5px;
	border: 1px solid #6f6f6f
}

hr {
	border: 0;
	height: 1px;
	background-color: #6f6f6f
}

.button {
	line-height: 20px
}

.button, input, select, textarea {
	border: 1px solid #6f6f6f;
	background-color: #2b2b2b;
	color: #fff;
	font-size: 10px;
	border-radius: 2px;
	padding: 1px
}

select {
	margin-bottom: 5px
}

.select-large {
	font-size: 14px
}

.select2-dropdown {
	background-color: #2b2b2b
}

.register-input {
	font-size: 13px;
	padding: 5px;
	width: 250px
}

div#register-avatars {
	display: none
}

.button:hover {
	text-decoration: none
}

input[type=text], textarea {
	background-color: #2b2b2b;
	background-image: -o-linear-gradient(top, #2b2b2b, #363636);
	background-repeat: repeat-x
}

div#page {
	text-align: left !important;
	width: 827px !important;
	margin: 0 auto !important
}

div#page, iframe, td[rowspan="2"]+td[valign=top][align=center] {
	display: block !important
}

img:not ([src*=captcha] ):not ([src*=randomeventimage] ){
	display: inhert !important
}

div#header {
	background: url(/static/images/top-bg.png) no-repeat;
	background-position: bottom;
	width: 100%;
	height: 10px;
	text-align: left;
	display: block !important;
	position: relative;
	background-color: #181818
}

div#header-controllers {
	position: absolute;
	bottom: 2px;
	right: 11px;
	width: auto;
	height: auto;
	background-color: rgba(70, 70, 70, .8);
	padding: 5px;
	overflow: hidden;
	text-align: right;
	border: 1px solid #6f6f6f
}

#header-controllers ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

#header-controllers ul li {
	display: inline
}

div#topbox {
	width: 478px;
	position: relative;
	left: 335px;
	top: 0
}

div#topbox_content {
	width: 468px;
	height: 70px;
	background-color: #464646;
	text-align: left;
	padding: 5px;
	border: 1px solid #6f6f6f;
	overflow: hidden;
	margin-top: 10px
}

div#content {
	text-align: left;
	width: 827px;
	min-height: 600px;
	background-color: #000
}

div#content_left {
	float: left;
	width: 148px;
	margin-bottom: 10px
}

div#content_middle {
	float: left;
	width: 502px;
	border: 4px solid #000;
	border-top: none;
	border-bottom: none;
	background-color: #464646
}

div#content_right {
	float: left;
	width: 146px;
	overflow: hidden;
	margin-bottom: 10px
}

table#content_table {
	margin-left: 9px
}

div.main-content {
	float: left;
	position: relative;
	padding: 10px;
	padding-bottom: 20px;
	min-width: 480px;
	max-width: 480px
}

.main-wide {
	width: 787px
}

div#footer_middle {
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #000
}

div#socialmedia {
	text-align: center;
	float: right;
	width: 147px
}

.action-menu-image {
	margin-left: 3px;
	margin-right: 5px;
	display: block !important
}

.content_style {
	border: 1px solid #666;
	padding-top: 4px;
	background-color: #464646
}

.actionstext {
	font-size: 9px;
	color: #9b9b9b
}

.action_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	display: block
}

.action_menu li {
	background-color: #464646;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	display: block;
	float: left;
	cursor: pointer;
	text-align: left;
	font-size: 9px;
	color: #9b9b9b;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.action_menu li:hover {
	background-color: #6f6f6f
}

.action_menu_header {
	font-weight: 700
}

.action_menu_header, .action_menu_rightheader {
	font-size: 10px;
	color: #fff
}

.statusbox {
	margin-bottom: 10px
}

.statusbox, .statusbox_ok {
	background-color: #2b2b2b;
	border: 1px solid #6f6f6f;
	padding: 5px
}

.statusbox_ok td {
	color: #c0b184;
	font-size: 11px;
	font-weight: 700
}

.statusbox_error {
	padding: 5px;
	background-color: #2b2b2b;
	border: 1px solid #6f6f6f
}

.statusbox_error a {
	color: #ce5353
}

.statusbox_error td {
	color: #ce5353;
	font-size: 11px;
	font-weight: 700
}

.statusbox_ok_text {
	color: #c0b184;
	font-size: 11px;
	font-weight: 700
}

.statusbox_error_text {
	color: #ce5353;
	font-size: 11px;
	font-weight: 700
}

.black_table {
	background-color: #2b2b2b;
	border: 1px solid #6f6f6f
}

.black_table td {
	padding: 4px;
	border-bottom: 1px solid #404040
}

.black_table th {
	cursor: default;
	padding: 5px;
	border-bottom: 1px solid #6f6f6f;
	color: #c0b184;
	font-size: 10px;
	font-weight: 700
}

.black_table_row_selected {
	background-color: #444
}

.black_table_row_hover {
	background-color: #666
}

.black_table_top td {
	cursor: default;
	padding: 5px;
	color: #c0b184;
	font-weight: 700
}

.tab_selected td, .tab_unselected td {
	font-size: 10px;
	color: #c0b184
}

.tab_unselected td {
	background-color: #383838
}

#newspaper {
	background-color: #f2f2f2;
	padding: 10px;
	border: 2px solid #d3dbd9;
	color: #2b2b2b;
	font-size: 9px
}

#newspaper a {
	text-decoration: underline
}

#newspaper a, #newspaper h1 {
	color: #2b2b2b;
	font-weight: 700
}

#newspaper h1 {
	font-family: verdana, arial, sans-serif;
	font-size: 25px;
	text-transform: uppercase
}

#newspaper h2 {
	font-size: 15px;
	color: #2b2b2b;
	font-weight: 700;
	margin-top: 5px;
	text-transform: uppercase
}

#newspaper p {
	text-align: justify;
	margin-bottom: 10px
}

#newspaper-header {
	text-align: center
}

#newspaper-top-articles {
	clear: both
}

#newspaper-content {
	clear: both;
	width: 450px
}

#newspaper-left {
	width: 45%
}

#newspaper-right {
	width: 50%
}

#newspaper-bottom {
	clear: both;
	border-top: 1px solid #d1d1d1
}

#todaysquote blockquote {
	color: #000;
	background-color: #ccc;
	padding: 10px;
	font-style: italic
}

.newspapercolumntopic {
	font-size: 12px;
	color: #2b2b2b;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px
}

.newspaperimage {
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #464646;
	margin-left: 10px;
	width: 100px
}

.newspaperday {
	font-size: 10px;
	color: #888;
	font-weight: 400
}

.newspapercolumn {
	padding: 10px;
	border: 2px solid #d3dbd9
}

.menuyellowtext, .nicktext {
	color: #c0b184;
	font-weight: 700
}

.nicktext {
	font-size: 10px
}

.credits_top_box {
	background-color: #2b2b2b;
	border: 1px solid #6f6f6f
}

.credits_bottom_box {
	border-right: 1px solid #6f6f6f;
	border-bottom: 1px solid #6f6f6f;
	border-left: 1px solid #6f6f6f
}

.imageborder {
	border: 2px solid #333;
	margin-right: 10px
}

.sectioninfo {
	margin-bottom: 15px;
	display: table
}

.sectioninfo img {
	border: 2px solid #333;
	margin-right: 10px;
	width: 150px
}

.highlight {
	background-color: #666;
	cursor: default
}

.credit_character {
	padding: 2px;
	margin: 1px;
	background-color: #2b2b2b;
	font-weight: 700
}

.smstext, .smstext2 {
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	padding: 2px
}

.smstext {
	background: #2b2b2b
}

.disable {
	background-color: #193f63;
	color: #fff;
	font-weight: 700;
	padding: 5px
}

#csscaptcha {
	width: 100%;
	overflow: hidden
}

.csscaptchaBig {
	width: 23em !important;
	position: absolute
}

#csscaptcha .letter {
	float: left;
	background-color: #000;
	margin-right: .2em;
	position: relative;
	-moz-box-sizing: border-box
}

#csscaptcha .letter div {
	width: 100%;
	overflow: auto;
	position: relative
}

#csscaptcha .letter span {
	width: .2em;
	height: .2em;
	float: left;
	margin: 0;
	line-height: .1em;
	overflow: hidden;
	position: relative
}

#csscaptcha .letter .a {
	background: #000
}

#csscaptcha .bigletter {
	float: left;
	background-color: #000;
	margin-right: .3em;
	width: 3.8em;
	height: 3.6em;
	position: relative;
	-moz-box-sizing: border-box
}

#csscaptcha .bigletter div {
	width: 100%;
	overflow: auto;
	position: relative
}

#csscaptcha .bigletter span {
	width: .4em;
	height: .4em;
	float: left;
	margin: 0;
	line-height: .1em;
	overflow: hidden;
	position: relative
}

#csscaptcha .bigletter .a {
	background: #000
}

.csscaptchaplus {
	border: 1px solid #000;
	width: .7em;
	cursor: pointer;
	font-weight: 700;
	-moz-box-sizing: border-box;
	float: left;
	line-height: .5em;
	margin-top: .5em;
	margin-left: -.2em
}

.csscaptchahidden {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0
}

.htmlcapcha_label {
	overflow: auto;
	width: 100%;
	font-family: arial;
	font-size: .9em;
	color: #000
}

.flag {
	margin-right: 1px
}

ul#frontimages {
	width: 320px;
	list-style: none;
	text-align: center
}

div#front-page-text {
	text-align: center;
	font-size: 14px
}

.menu-sprite {
	width: 32px;
	height: 40px;
	background-image: url(/static/images/menu/menu-sprites.png);
	float: left;
	margin-right: 5px;
	margin-left: 3px
}

#menu-sprite-start {
	background-position: 0 0
}

#menu-sprite-register {
	background-position: -32px 0
}

#menu-sprite-stats {
	background-position: -64px 0
}

#menu-sprite-winners {
	background-position: -96px 0
}

#menu-sprite-stuff {
	background-position: -128px 0
}

#menu-sprite-news {
	background-position: -160px 0
}

#menu-sprite-help {
	background-position: -192px 0
}

#menu-sprite-assault {
	background-position: -224px 0
}

#menu-sprite-robbery {
	background-position: -256px 0
}

#menu-sprite-sabotage {
	background-position: -288px 0
}

#menu-sprite-hookers {
	background-position: -320px 0
}

#menu-sprite-armsdealer {
	background-position: -352px 0
}

#menu-sprite-drugdealer {
	background-position: -384px 0
}

#menu-sprite-buildings {
	background-position: -416px 0
}

#menu-sprite-nightlife {
	background-position: -448px 0
}

#menu-sprite-businesses {
	background-position: -480px 0
}

#menu-sprite-hospital {
	background-position: -512px 0
}

#menu-sprite-prison {
	background-position: -544px 0
}

#menu-sprite-bank {
	background-position: -576px 0
}

#menu-sprite-den {
	background-position: -608px 0
}

#menu-sprite-den-on {
	background-position: -864px 0
}

#menu-sprite-alley {
	background-position: -640px 0
}

#menu-sprite-docks {
	background-position: -672px 0
}

#menu-sprite-training {
	background-position: -704px 0
}

#menu-sprite-training-on {
	background-position: -832px 0
}

#menu-sprite-square {
	background-position: -736px 0
}

#menu-sprite-fightchat {
	background-position: -768px 0
}

#menu-sprite-casino {
	background-position: -800px 0
}

#menu-sprite-spy {
	background-position: -896px 0
}

#menu-sprite-market {
	background-position: -928px 0
}

#menu-sprite-stockmarket {
	background-position: -960px 0
}

.hooker-sprite {
	width: 75px;
	height: 99px;
	background-image:
		url(/static/images/sections/hookers/hookers-sprite.jpg);
	float: left;
	margin-right: 5px;
	margin-left: 3px
}

#hooker-sprite-0 {
	background-position: -675px -34px;
	width: 100px
}

#hooker-sprite-1 {
	background-position: -1677px -50px;
	width: 83px;
	height: 83px
}

#hooker-sprite-2 {
	background-position: -1577px 0;
	width: 100px;
	height: 134px
}

#hooker-sprite-3 {
	background-position: -1100px -34px
}

#hooker-sprite-4 {
	background-position: -1760px -54px;
	width: 100px;
	height: 80px
}

#hooker-sprite-5 {
	background-position: -1326px -33px;
	width: 100px;
	height: 101px
}

#hooker-sprite-6 {
	background-position: 0 -34px
}

#hooker-sprite-7 {
	background-position: -2451px -34px
}

#hooker-sprite-8 {
	background-position: -450px -34px
}

#hooker-sprite-9 {
	background-position: -525px -35px
}

#hooker-sprite-10 {
	background-position: -3058px -35px
}

#hooker-sprite-11 {
	background-position: -225px -35px
}

ul.flags {
	list-style-type: none;
	margin: 0;
	margin-top: 5px;
	padding-left: 10px
}

.flag, ul.flags li {
	float: left
}

.flag {
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: url(/static/images/flags/flags_sprite.png) no-repeat
}

.flag.ad {
	background-position: 0 0
}

.flag.ae {
	background-position: 0 -16px
}

.flag.af {
	background-position: 0 -32px
}

.flag.ag {
	background-position: 0 -48px
}

.flag.ai {
	background-position: 0 -64px
}

.flag.al {
	background-position: 0 -80px
}

.flag.am {
	background-position: 0 -96px
}

.flag.an {
	background-position: 0 -112px
}

.flag.ao {
	background-position: 0 -128px
}

.flag.ar {
	background-position: 0 -144px
}

.flag.as {
	background-position: 0 -160px
}

.flag.at {
	background-position: 0 -176px
}

.flag.au {
	background-position: 0 -192px
}

.flag.aw {
	background-position: 0 -208px
}

.flag.ax {
	background-position: 0 -224px
}

.flag.az {
	background-position: 0 -240px
}

.flag.ba {
	background-position: 0 -256px
}

.flag.bb {
	background-position: 0 -272px
}

.flag.bd {
	background-position: 0 -288px
}

.flag.be {
	background-position: 0 -304px
}

.flag.bf {
	background-position: 0 -320px
}

.flag.bg {
	background-position: 0 -336px
}

.flag.bh {
	background-position: 0 -352px
}

.flag.bi {
	background-position: 0 -368px
}

.flag.bj {
	background-position: 0 -384px
}

.flag.bm {
	background-position: 0 -400px
}

.flag.bn {
	background-position: 0 -416px
}

.flag.bo {
	background-position: 0 -432px
}

.flag.bq {
	background-position: 0 -448px
}

.flag.br {
	background-position: 0 -464px
}

.flag.bs {
	background-position: 0 -480px
}

.flag.bt {
	background-position: 0 -496px
}

.flag.burma {
	background-position: 0 -512px
}

.flag.bv {
	background-position: 0 -528px
}

.flag.bw {
	background-position: 0 -544px
}

.flag.by {
	background-position: 0 -560px
}

.flag.bz {
	background-position: 0 -576px
}

.flag.ca {
	background-position: 0 -592px
}

.flag.cc {
	background-position: 0 -608px
}

.flag.cd {
	background-position: 0 -624px
}

.flag.cf {
	background-position: 0 -640px
}

.flag.cg {
	background-position: 0 -656px
}

.flag.ch {
	background-position: 0 -672px
}

.flag.ci {
	background-position: 0 -688px
}

.flag.ck {
	background-position: 0 -704px
}

.flag.cl {
	background-position: 0 -720px
}

.flag.cm {
	background-position: 0 -736px
}

.flag.cn {
	background-position: 0 -752px
}

.flag.cnt {
	background-position: 0 -768px
}

.flag.co {
	background-position: 0 -784px
}

.flag.cr {
	background-position: 0 -800px
}

.flag.cs {
	background-position: 0 -816px
}

.flag.cu {
	background-position: 0 -832px
}

.flag.cv {
	background-position: -16px 0
}

.flag.cx {
	background-position: -16px -16px
}

.flag.cy {
	background-position: -16px -32px
}

.flag.cz {
	background-position: -16px -48px
}

.flag.de {
	background-position: -16px -64px
}

.flag.dj {
	background-position: -16px -80px
}

.flag.dk {
	background-position: -16px -96px
}

.flag.dm {
	background-position: -16px -112px
}

.flag.do {
	background-position: -16px -128px
}

.flag.dz {
	background-position: -16px -144px
}

.flag.ec {
	background-position: -16px -160px
}

.flag.ee {
	background-position: -16px -176px
}

.flag.eg {
	background-position: -16px -192px
}

.flag.eh {
	background-position: -16px -208px
}

.flag.england {
	background-position: -16px -224px
}

.flag.er {
	background-position: -16px -240px
}

.flag.es {
	background-position: -16px -256px
}

.flag.et {
	background-position: -16px -272px
}

.flag.fi {
	background-position: -16px -288px
}

.flag.fj {
	background-position: -16px -304px
}

.flag.fk {
	background-position: -16px -320px
}

.flag.fm {
	background-position: -16px -336px
}

.flag.fo {
	background-position: -16px -352px
}

.flag.fq {
	background-position: -16px -368px
}

.flag.fr {
	background-position: -16px -384px
}

.flag.fx {
	background-position: -16px -400px
}

.flag.ga {
	background-position: -16px -416px
}

.flag.gb {
	background-position: -16px -432px
}

.flag.gd {
	background-position: -16px -448px
}

.flag.ge {
	background-position: -16px -464px
}

.flag.gf {
	background-position: -16px -480px
}

.flag.gg {
	background-position: -16px -496px
}

.flag.gh {
	background-position: -16px -512px
}

.flag.gi {
	background-position: -16px -528px
}

.flag.gl {
	background-position: -16px -544px
}

.flag.gm {
	background-position: -16px -560px
}

.flag.gn {
	background-position: -16px -576px
}

.flag.gp {
	background-position: -16px -592px
}

.flag.gq {
	background-position: -16px -608px
}

.flag.gr {
	background-position: -16px -624px
}

.flag.gs {
	background-position: -16px -640px
}

.flag.gt {
	background-position: -16px -656px
}

.flag.gu {
	background-position: -16px -672px
}

.flag.gw {
	background-position: -16px -688px
}

.flag.gy {
	background-position: -16px -704px
}

.flag.hk {
	background-position: -16px -720px
}

.flag.hm {
	background-position: -16px -736px
}

.flag.hn {
	background-position: -16px -752px
}

.flag.hr {
	background-position: -16px -768px
}

.flag.ht {
	background-position: -16px -784px
}

.flag.hu {
	background-position: -16px -800px
}

.flag.id {
	background-position: -16px -816px
}

.flag.ie {
	background-position: -16px -832px
}

.flag.il {
	background-position: -32px 0
}

.flag.im {
	background-position: -32px -16px
}

.flag.in {
	background-position: -32px -32px
}

.flag.io {
	background-position: -32px -48px
}

.flag.iq {
	background-position: -32px -64px
}

.flag.ir {
	background-position: -32px -80px
}

.flag.is {
	background-position: -32px -96px
}

.flag.it {
	background-position: -32px -112px
}

.flag.je {
	background-position: -32px -128px
}

.flag.jm {
	background-position: -32px -144px
}

.flag.jo {
	background-position: -32px -160px
}

.flag.jp {
	background-position: -32px -176px
}

.flag.jt {
	background-position: -32px -192px
}

.flag.ke {
	background-position: -32px -208px
}

.flag.kg {
	background-position: -32px -224px
}

.flag.kh {
	background-position: -32px -240px
}

.flag.ki {
	background-position: -32px -256px
}

.flag.km {
	background-position: -32px -272px
}

.flag.kn {
	background-position: -32px -288px
}

.flag.kp {
	background-position: -32px -304px
}

.flag.kr {
	background-position: -32px -320px
}

.flag.kw {
	background-position: -32px -336px
}

.flag.ky {
	background-position: -32px -352px
}

.flag.kz {
	background-position: -32px -368px
}

.flag.laos {
	background-position: -32px -384px
}

.flag.lb {
	background-position: -32px -400px
}

.flag.lc {
	background-position: -32px -416px
}

.flag.li {
	background-position: -32px -432px
}

.flag.lk {
	background-position: -32px -448px
}

.flag.lr {
	background-position: -32px -464px
}

.flag.ls {
	background-position: -32px -480px
}

.flag.lt {
	background-position: -32px -496px
}

.flag.lu {
	background-position: -32px -512px
}

.flag.lv {
	background-position: -32px -528px
}

.flag.ly {
	background-position: -32px -544px
}

.flag.ma {
	background-position: -32px -560px
}

.flag.mc {
	background-position: -32px -576px
}

.flag.md {
	background-position: -32px -592px
}

.flag.me {
	background-position: -32px -608px
}

.flag.mg {
	background-position: -32px -624px
}

.flag.mh {
	background-position: -32px -640px
}

.flag.mi {
	background-position: -64px -784px
}

.flag.mk {
	background-position: -32px -656px
}

.flag.ml {
	background-position: -32px -672px
}

.flag.mm {
	background-position: -32px -688px
}

.flag.mn {
	background-position: -32px -704px
}

.flag.mo {
	background-position: -32px -720px
}

.flag.mp {
	background-position: -32px -736px
}

.flag.mq {
	background-position: -32px -752px
}

.flag.mr {
	background-position: -32px -768px
}

.flag.ms {
	background-position: -32px -784px
}

.flag.mt {
	background-position: -32px -800px
}

.flag.mu {
	background-position: -32px -816px
}

.flag.mv {
	background-position: -32px -832px
}

.flag.mw {
	background-position: -48px 0
}

.flag.mx {
	background-position: -48px -16px
}

.flag.my {
	background-position: -48px -32px
}

.flag.mz {
	background-position: -48px -48px
}

.flag.na {
	background-position: -48px -64px
}

.flag.nc {
	background-position: -48px -80px
}

.flag.ne {
	background-position: -48px -96px
}

.flag.nf {
	background-position: -48px -112px
}

.flag.ng {
	background-position: -48px -128px
}

.flag.ni {
	background-position: -48px -144px
}

.flag.nl {
	background-position: -48px -160px
}

.flag.no {
	background-position: -48px -176px
}

.flag.np {
	background-position: -48px -192px
}

.flag.nq {
	background-position: -48px -208px
}

.flag.nr {
	background-position: -48px -224px
}

.flag.nu {
	background-position: -48px -240px
}

.flag.nz {
	background-position: -48px -256px
}

.flag.om {
	background-position: -48px -272px
}

.flag.pa {
	background-position: -48px -288px
}

.flag.pc {
	background-position: -48px -304px
}

.flag.pe {
	background-position: -48px -320px
}

.flag.pf {
	background-position: -48px -336px
}

.flag.pg {
	background-position: -48px -352px
}

.flag.ph {
	background-position: -48px -368px
}

.flag.pk {
	background-position: -48px -384px
}

.flag.pl {
	background-position: -48px -400px
}

.flag.pm {
	background-position: -48px -416px
}

.flag.pn {
	background-position: -48px -432px
}

.flag.pr {
	background-position: -48px -448px
}

.flag.ps {
	background-position: -48px -464px
}

.flag.pt {
	background-position: -48px -480px
}

.flag.pw {
	background-position: -48px -496px
}

.flag.py {
	background-position: -48px -512px
}

.flag.pz {
	background-position: -48px -528px
}

.flag.qa {
	background-position: -48px -544px
}

.flag.re {
	background-position: -48px -560px
}

.flag.ro {
	background-position: -48px -576px
}

.flag.rs {
	background-position: -48px -592px
}

.flag.ru {
	background-position: -48px -608px
}

.flag.rv {
	background-position: -48px -624px
}

.flag.rw {
	background-position: -48px -640px
}

.flag.sa {
	background-position: -48px -656px
}

.flag.sb {
	background-position: -48px -672px
}

.flag.sc {
	background-position: -48px -688px
}

.flag.scotland {
	background-position: -48px -704px
}

.flag.sd {
	background-position: -48px -720px
}

.flag.se {
	background-position: -48px -736px
}

.flag.sg {
	background-position: -48px -752px
}

.flag.sh {
	background-position: -48px -768px
}

.flag.si {
	background-position: -48px -784px
}

.flag.sj {
	background-position: -48px -800px
}

.flag.sk {
	background-position: -48px -816px
}

.flag.sl {
	background-position: -48px -832px
}

.flag.sm {
	background-position: -64px 0
}

.flag.sn {
	background-position: -64px -16px
}

.flag.so {
	background-position: -64px -32px
}

.flag.sr {
	background-position: -64px -48px
}

.flag.st {
	background-position: -64px -64px
}

.flag.sv {
	background-position: -64px -80px
}

.flag.sy {
	background-position: -64px -96px
}

.flag.sz {
	background-position: -64px -112px
}

.flag.tc {
	background-position: -64px -128px
}

.flag.td {
	background-position: -64px -144px
}

.flag.tf {
	background-position: -64px -160px
}

.flag.tg {
	background-position: -64px -176px
}

.flag.th {
	background-position: -64px -192px
}

.flag.tibet {
	background-position: -64px -208px
}

.flag.tj {
	background-position: -64px -224px
}

.flag.tk {
	background-position: -64px -240px
}

.flag.tl {
	background-position: -64px -256px
}

.flag.tm {
	background-position: -64px -272px
}

.flag.tn {
	background-position: -64px -288px
}

.flag.to {
	background-position: -64px -304px
}

.flag.tr {
	background-position: -64px -320px
}

.flag.tt {
	background-position: -64px -336px
}

.flag.tv {
	background-position: -64px -352px
}

.flag.tw {
	background-position: -64px -368px
}

.flag.tz {
	background-position: -64px -384px
}

.flag.ua {
	background-position: -64px -400px
}

.flag.ug {
	background-position: -64px -416px
}

.flag.um {
	background-position: -64px -432px
}

.flag.us {
	background-position: -64px -448px
}

.flag.uy {
	background-position: -64px -464px
}

.flag.uz {
	background-position: -64px -480px
}

.flag.va {
	background-position: -64px -496px
}

.flag.vc {
	background-position: -64px -512px
}

.flag.vd {
	background-position: -64px -528px
}

.flag.ve {
	background-position: -64px -544px
}

.flag.vg {
	background-position: -64px -560px
}

.flag.vi {
	background-position: -64px -576px
}

.flag.vn {
	background-position: -64px -592px
}

.flag.vu {
	background-position: -64px -608px
}

.flag.wales {
	background-position: -64px -624px
}

.flag.wf {
	background-position: -64px -640px
}

.flag.wk {
	background-position: -64px -656px
}

.flag.ws {
	background-position: -64px -672px
}

.flag.yd {
	background-position: -64px -688px
}

.flag.ye {
	background-position: -64px -704px
}

.flag.yt {
	background-position: -64px -720px
}

.flag.za {
	background-position: -64px -736px
}

.flag.zm {
	background-position: -64px -752px
}

.flag.zw {
	background-position: -64px -768px
}

.flag.usgb {
	background-position: -64px -800px
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both
}

.screenshots ul {
	margin: 0;
	margin-left: 50px;
	padding: 0;
	list-style: none
}

.screenshots ul li {
	float: left
}

.login-topic {
	color: #c0b184;
	font-size: 22px;
	font-weight: lighter;
	margin-bottom: 5px
}

.theme-default #slider {
	margin: 10px auto 0;
	width: 300px;
	height: 320px
}

.progressbar {
	height: 11px;
	border: 1px solid #6f6f6f;
	background-color: #000;
	width: 128px;
	text-align: left
}

.progressbar-bar {
	height: 100%;
	background-repeat: repeat-y;
	width: 0
}

.player {
	position: relative;
	float: left;
	width: 215px;
	height: 55px;
	overflow: hidden;
	margin-top: 4px;
	margin-left: 4px;
	background-color: #2b2b2b;
	padding: 7px;
	border-radius: 4px
}

.player:hover {
	background-color: #333
}

.player-avatar {
	float: left;
	margin-right: 5px
}

.player-action {
	margin-top: 5px
}

.stats-pagination-container {
	margin-top: 15px
}

.stats-pagination {
	border: 1px solid #6f6f6f;
	padding: 7px;
	border-radius: 5px;
	margin-right: 2px;
	color: #fff
}

.stats-pagination:hover {
	background-color: #6f6f6f;
	text-decoration: none
}

.stats-pagination-active {
	font-weight: 700;
	background-color: #6f6f6f
}

input.front-input {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 235px
}

.front-form-header {
	font-size: 18px;
	margin-top: 0
}

div#clock {
	color: #fff;
	margin: 15px;
	width: 500px;
	overflow: hidden;
	text-align: center
}

div#clock p {
	padding: 5px;
	border-radius: 8px;
	background: #333;
	float: left;
	height: 90px;
	width: 80px;
	-webkit-box-shadow: 1px 1px 1px rgba(4, 4, 4, .35);
	box-shadow: 1px 1px 1px rgba(4, 4, 4, .35);
	font-family: Courier New, Courier, sans-serif;
	font-size: 14px
}

div#clock p span {
	display: block;
	font-size: 50px;
	font-weight: 700;
	padding-top: 5px
}

div#clock div.space {
	color: #ccc;
	display: block;
	line-height: 1.7em;
	font-size: 50px;
	float: left;
	height: 88px;
	width: 30px
}

div#clock-plain {
	color: #fff;
	margin: 15px;
	width: 500px;
	overflow: hidden;
	text-align: center
}

div#clock-plain p {
	padding: 5px;
	border-radius: 8px;
	background: #333;
	float: left;
	height: 50px;
	width: 60px;
	-webkit-box-shadow: 1px 1px 1px rgba(4, 4, 4, .35);
	box-shadow: 1px 1px 1px rgba(4, 4, 4, .35);
	font-family: Courier New, Courier, sans-serif;
	font-size: 11px
}

div#clock-plain p span {
	display: block;
	font-size: 25px;
	font-weight: 700;
	padding-top: 5px
}

div#clock-plain div.space {
	color: #ccc;
	display: block;
	line-height: 1.7em;
	font-size: 25px;
	float: left;
	height: 44px;
	width: 15px
}

.assault-red {
	color: #c03
}

#profileoptions {
	text-align: left
}

.profile-header {
	color: #c0b184;
	font-size: 22px;
	font-weight: lighter;
	margin-bottom: 5px
}

#profile-description {
	max-height: 2000px;
	overflow: hidden;
	padding-top: 10px;
	padding-right: 10px
}

#top-menu {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
	display: inline
}

#top-menu, #top-menu li {
	position: relative;
	z-index: 1000
}

#top-menu li {
	cursor: pointer;
	float: left;
	padding: 0 6px
}

#top-menu ul {
	padding: 10px;
	margin: 0;
	display: block;
	display: inline;
	min-width: 150px
}

#top-menu li ul {
	position: absolute;
	left: 0;
	top: -5px;
	margin-top: 34px;
	min-width: 150px;
	line-height: 16px;
	background-color: #212121;
	background-image: -o-linear-gradient(top, #131313, #212121);
	color: #7fcdfe;
	display: none;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 2px 5px #181818;
	box-shadow: 0 2px 5px #181818
}

#top-menu li:hover ul {
	display: block
}

#top-menu li ul li {
	min-width: 150px;
	display: block;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px 0;
	border-top: 1px dotted #363636;
	list-style-type: none
}

#top-menu li ul li:first-child {
	border-top: none
}

#top-menu li ul li a {
	display: block
}

#top-menu .corner_inset_left {
	position: absolute;
	top: 0;
	left: -12px
}

#top-menu .corner_inset_right {
	position: absolute;
	top: 0;
	left: 150px
}

#top-menu .last {
	background: transparent none repeat scroll 0 0;
	margin: 0;
	padding: 0;
	position: relative;
	border: none;
	height: 0
}

#top-menu .corner_left {
	position: absolute;
	left: 0;
	top: 0
}

#top-menu .corner_right {
	position: absolute;
	left: 132px;
	top: 0
}

#top-menu .middle {
	position: absolute;
	left: 18px;
	height: 20px;
	width: 115px;
	top: 0
}

.playerAvatar {
	border-radius: 2px 2px 2px 2px;
	border: 2px solid #2a2a2a;
	margin: 3px
}

.online {
	border-color: #7bb236;
	color: #7bb236
}

.date {
	color: #888
}

.emoticon {
	width: 20px;
	display: inline-block;
	position: relative
}

.emoticon img {
	position: absolute;
	top: -16px;
	width: 20px
}

.chat-avatar {
	width: 32px
}

.chat-bubble {
	position: relative;
	min-width: 50px;
	max-width: 350px;
	min-height: 15px;
	padding: 7px;
	border-radius: 7px;
	margin-left: 15px;
	overflow-wrap: break-word;
	word-wrap: break-word
}

.chat-bubble:after {
	z-index: 1
}

.chat-bubble:after, .chat-bubble:before {
	content: "";
	position: absolute;
	display: block;
	width: 0
}

.chat-bubble:before {
	z-index: 0
}

.chat-bubble-right {
	border: 2px solid #468847;
	background: #5bb75b;
	margin-right: 15px
}

.chat-bubble-right:after {
	border-width: 6px 0 6px 6px;
	right: -6px;
	top: 12px;
	border-style: solid;
	border-color: transparent #5bb75b
}

.chat-bubble-right:before {
	border-width: 7px 0 7px 7px;
	right: -9px;
	top: 11px;
	border-style: solid;
	border-color: transparent #468847
}

.chat-bubble-left {
	border: 2px solid #6f6f6f;
	background: #2b2b2b;
	margin-left: 15px
}

.chat-bubble-left:after {
	border-width: 6px 6px 6px 0;
	left: -6px;
	top: 12px;
	border-style: solid;
	border-color: transparent #2b2b2b
}

.chat-bubble-left:before {
	border-width: 7px 7px 7px 0;
	left: -9px;
	top: 11px;
	border-style: solid;
	border-color: transparent #6f6f6f
}

div.chat-bubble-right>span.date {
	color: #b7d2b7
}

.chat-text-input {
	padding: 5px;
	width: 420px
}

.chat-conversation-header {
	margin-bottom: 10px
}

.chat-conversation-header-avatar {
	width: 32px;
	margin-right: 10px
}

.conversation {
	max-height: 500px;
	overflow: scroll;
	overflow-x: hidden;
	padding: 5px
}

.conversation, ul.conversation>li {
	margin-bottom: 5px
}

.ui-progressbar.end .ui-progressbar-value {
	background: green
}

div#site-info-wrapper {
	background-color: #000;
	position: relative;
	margin: 0 auto;
	padding-bottom: 20px
}

div#site-info-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden
}

div#site-info {
	width: 680px;
	color: #666;
	padding-top: 20px;
	margin: 0 auto
}

div#site-info:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden
}

div#site-info a {
	color: #666
}

#site-info h4 {
	color: #ccc
}

#site-info ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

#site-info div {
	line-height: 1.6em;
	text-align: left;
	float: left;
	width: 150px;
	margin-left: 20px
}

#singlecrimeinfo-successprobability-image {
	margin-right: 5px;
	float: left
}

ul.user_list {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 10px
}

ul.user_list>li {
	background-color: #2b2b2b;
	border: 1px solid #6f6f6f;
	border-radius: 3px;
	padding: 5px;
	width: 146px;
	overflow: hidden;
	margin-right: 2px;
	margin-bottom: 2px
}

.user_list_avatar {
	float: left;
	margin-right: 5px;
	position: relative
}

.user_list_username {
	font-weight: 700;
	height: 18px;
	overflow: hidden
}

.user_list_flag {
	position: absolute;
	bottom: 0;
	right: -2px
}

.user_list_protection {
	font-weight: 700
}

ul.nightclub_robberies {
	margin-top: 0;
	margin-left: 0;
	list-style-type: none
}

ul.nightclub_robberies>li {
	display: inline-block;
	background-color: #2b2b2b;
	border: 1px solid #6f6f6f;
	border-radius: 3px;
	padding: 5px;
	width: 200px;
	height: auto;
	overflow: hidden;
	margin-right: 2px;
	margin-bottom: 2px
}

ul.nightclubs>li {
	width: 233px;
	float: left
}

ul.nightclubs>li:nth-child(odd) {
	margin-right: 10px
}

ul.gang_robbery_participant_list {
	clear: both
}

ul.badge_list, ul.gang_robbery_participant_list {
	margin-top: 0;
	margin-left: 0;
	list-style-type: none
}

ul.badge_list>li {
	display: inline-block;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 48px;
	height: 48px;
	text-align: right
}

ul.badge_list>li>img {
	width: 45px;
	height: 45px
}

div.badge_list_quantity {
	position: relative;
	color: #c0b184;
	top: -16px;
	margin-right: 1px;
	font-weight: 700;
	font-size: 13px;
	text-shadow: 0 0 5px #181818
}

ul.medal_list {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 5px;
	list-style-type: none
}

ul.medal_list li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 2px;
	text-align: right
}

ul.medal_list li img {
	max-height: 32px;
	max-width: 32px
}

.top_badge {
	margin-left: 5px
}

div#profile-achievements {
	margin-top: 10px
}

.form-signin .checkbox, .form-signin .form-signin-heading {
	margin-bottom: 10px
}

.forum_section {
	margin-top: 10px
}

.forum_section_name {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px
}

.forum_section_forums {
	margin-left: 0
}

.forum_section_forums li {
	list-style-type: none;
	padding: 10px
}

.forum_section_forum_name {
	font-size: 12px;
	font-weight: 700
}

.forum_section_forum_last_thread {
	width: 200px;
	float: right
}

.forum_thread {
	padding: 10px;
	min-height: 20px;
	margin-top: 5px
}

.forum_thread_votescore a {
	color: #fff
}

.forum_thread_votescore_points {
	font-size: 10px;
	font-weight: 400;
	color: #666;
	text-transform: lowercase
}

.forum_thread_description {
	font-size: 14px;
	font-weight: 700;
	width: 350px
}

.forum_thread_info {
	font-weight: 400
}

.forum_thread_info, .forum_thread_vote {
	margin-top: 5px;
	color: #666;
	font-size: 10px
}

.forum_thread_vote {
	width: 80px;
	text-align: center
}

.forum_post {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #666
}

.forum_post_date {
	color: #666
}

.forum_post_text {
	padding-top: 5px;
	font-size: 13px
}

.forum_post_manage {
	float: right
}

.forum_vote {
	font-weight: 700;
	font-size: 12px
}

.forum_vote_up {
	color: green
}

.forum_vote_down {
	color: red
}

h1.front-header {
	font-size: 40px
}

p.front-text {
	font-size: 14px
}

.prizes-text {
	font-size: 12px
}

.front-well {
	padding: 19px;
	margin-bottom: 20px;
	background-color: #464646;
	border: 1px solid #111;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.nightlife_drug_quantity {
	width: 30px
}

ul.nightlife_user_list {
	max-height: 400px;
	overflow-y: scroll
}

.table {
	margin-bottom: 0
}

.table-top-spacing {
	margin-top: 10px
}

.table-bottom-spacing {
	margin-bottom: 10px
}

.table-no-top-border>td {
	border-top: 0
}

.btn-image {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin-right: 5px
}

.dark-panel {
	background-color: #464646;
	border: 1px solid #666;
	margin-top: 10px;
	margin-bottom: 40px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075)
}

.credit_digits {
	background-color: #2b2b2b;
	font-size: 11px;
	font-weight: 700;
	padding: 3px;
	letter-spacing: 3px;
	line-height: 2em
}

.quantity_field {
	width: 40px
}

.email_error {
	color: #fff;
	padding: 5px;
	background-color: #ce5353;
	border: 1px solid red;
	margin-bottom: 10px
}

.gang_robbery_participation_not_ok {
	color: red
}

.select_avatar {
	border: 1px solid transparent
}

.select_avatar:hover {
	border: 1px dotted red
}

.select_avatar_selected {
	border: 1px solid #464646
}

.newspaper_robbery_stats {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px
}

label {
	font-size: 11px
}

.progress {
	margin-bottom: 5px
}

.quest_selected {
	border: 1px dotted #c0b184;
	height: 40px
}

.user_profile_divider {
	border-bottom: 1px solid #6f6f6f;
	padding-bottom: 3px;
	height: 1px
}

#user-profile-username {
	color: #c0b184;
	font-weight: 700
}

#user-profile-avatar {
	margin-left: 5px;
	width: 32px;
	height: 40px;
	border: 0
}

#user-profile-info {
	margin-left: 5px;
	width: 100px
}

#user-profile-statusicons {
	padding-top: 5px
}

.user_profile_progressbar {
	margin-left: 8px
}

.user_profile_stats {
	width: 50%
}

#editor {
	height: 600px
}

#editor, .form-control {
	width: 100%
}

.forum-textarea {
	height: 100px
}

.forum_post_body {
	font-size: 12px
}

#stamina-progressbar {
	background-image: url(/static/images/img_stamina.jpg)
}

#addiction-progressbar {
	background-image: url(/static/images/img_addiction.gif)
}

.tooltip {
	z-index: 6000
}

ul#districts {
	list-style-type: none
}

ul#districts li {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 5px;
	margin-bottom: 5px
}

.simpleselect {
	width: 95%
}

.simpleselect>.placeholder {
	overflow: hidden
}

.fa-input {
	font-family: FontAwesome, Helvetica Neue, Helvetica, Arial, sans-serif
}

.form-horizontal .control-group {
	margin-top: 5px;
	margin-bottom: 5px
}

.form-horizontal .control-label {
	padding-top: 0
}

.alley-task .available-until {
	color: #fff;
	font-weight: 400
}

.message {
	word-wrap: break-word;
	width: 350px
}

.form-space {
	margin-top: 5px;
	margin-bottom: 5px
}

.escape-text {
	width: 80%
}

.well {
	margin-top: 5px;
	margin-bottom: 5px
}

.middle-col-3 {
	width: 33%
}

.select2-container--default .select2-selection--single {
	background-color: #2b2b2b !important;
	color: #fff !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	color: #fff !important
}

h5.character-advantage {
	color: green
}

h5.character-disadvantage {
	color: red
}

</style>